/* header */

.header {
  display: flex;
  justify-content: center;
  padding-top: 53px;
}
.header-main-box {
  position: fixed;
  width: 1220px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  opacity: 90%;
}
.header-left-box {
  width: 200px;
}
.headerlogo {
  width: 42.17px;
}
.name {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  color: #37393f;
}
.header-right-box {
  width: 825px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-ul {
  width: 601px;
  display: flex;
  justify-content: space-between;
}
.header-nav-li {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #37393f;
}
.button {
  background-color: #6b77e5;
  width: 184px;
  height: 65px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* --------------section 1-------------- */
.section1 {
  margin-top: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1-main-box {
  width: 1220px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section1-h3 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
}
.section1-h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.section1-rows {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}
.section1-row {
  width: 386px;
  height: 383px;
  padding: 58px 43px 58px 43px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section1-row-h2 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  color: #37393f;
}
.section1-row-p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #7d7d7d;
  text-align: center;
}
.section1-img {
  width: 72px;
  height: 72px;
}
.section1-img::before {
  content: "Testimonials";
  color: #6b77e5;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

/* ------------- sectin2--------------- */
.section2 {
  margin-top: 60px;
}
.section2-img-box {
  background-image: url(/pic/image\ 72.jpg);
  width: 100%;
  height: 557px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section2-opacity {
  width: 100%;
  height: 557px;
  background-color: #40ddb6;
  opacity: 75%;
  position: absolute;
}
.section2-content {
  position: absolute;
  width: 511px;
  height: 270.05px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section2-h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #37393f;
}
.section2-h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #37393f;
}
.section2-p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.play {
  width: 64px;
  height: 64px;
  border-radius: 80px;
}

/* ----------------section3----------- */
.section3 {
  margin: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-main-box {
  width: 1220px;
  height: 659px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3-h3 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  color: #37393f;
}
.section3-h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.section3-rows {
  display: flex;
  justify-content: space-between;
}
.img1 {
  background-image: url(/pic/Image.jpg);
  width: 386px;
  height: 532px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img2 {
  background-image: url(/pic/Photo.png);
  width: 386px;
  height: 532px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img3 {
  background-image: url(/pic/Photo1.png);
  width: 386px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.experts {
  width: 342px;
  height: 114px;
  background-color: #ffffff;
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3-p1 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  color: #37393f;
}
.section3-p2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #7d7d7d;
}

/* _____ hovers_________ */
.header-nav-li :hover {
  font-size: 22px;
  font-weight: 600;
  color: #252629;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #3b45a4;
  border-radius: 95px;
  transition-duration: 0.4s;
}
.play:hover {
  opacity: 70%;
  transition-duration: 0.4s;
}
.img3 :hover {
  opacity: 80%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.img2 :hover {
  opacity: 80%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.img1 :hover {
  opacity: 80%;
  transition-duration: 0.4s;
  cursor: pointer;
}
